h1{
    color: rgb(130, 130, 238);
  padding-bottom: 30px;
    

}

li,h2{

    color: rgb(255, 255, 255);
}

a{
    color:red;
}
a2{

    color:yellow;
}

body
{

    background-color: rgba(131, 81, 81, 0.9);

}